importFrom(rtracklayer, "export")
importFrom(rtracklayer, "import")

export("csawDomainCalling",
       "domainCallingFromBed",
       "getSampleInfo",
       "makeBedGraphPerSample",
       "makeBedGraph",
       "estimateSpikeFactor",
       "getAnnotationFromGR",
       "calcDomainFPKM")
