importFrom(rtracklayer, "export")
importFrom(rtracklayer, "import")

export("csawDomainCalling",
       "domainCallingFromBed",
       "getSpikeNormFactor",
       "getSampleInfo",
       "makeBedGraphPerSample",
       "makeBedGraph",
       "getAnnotationFromGR")
