importFrom(rtracklayer, "export")
importFrom(rtracklayer, "import")

export("csawDomainCalling",
       "domainCallingFromBed",
       "getSampleInfo",
       "makeFragCoverageTrack",
       "makeFragCovPerSample",
       "estimateSpikeFactor",
       "getAnnotationFromGR",
       "calcDomainFPKM")
